-if @error
  .error= @error
%form{:action=>'/config/set',:method=>'post'}
  #smtp_config
    %h3 SMTP configuration
    
    %label{:for=>'smtp[host]'} host
    %input{:name=>'smtp[host]',:value=>@smtp['host'],:size=>50}
    %br
    %label{:for=>'smtp[port]'} port
    %input{:name=>'smtp[port]',:value=>@smtp['port'],:size=>50}
    %br
    %label{:for=>'smtp[user]'} user
    %input{:name=>'smtp[user]',:value=>@smtp['user'],:size=>50}
    %br
    %label{:for=>'smtp[password]'} password
    %input{:type=>'password',:name=>'smtp[password]',:value=>@smtp['password'],:size=>50}
    %br
    %label{:for=>'smtp[auth]'} auth
    %select{:name=>'smtp[auth]'}
      =options_for_select([{'no_auth'=>nil},'plain', 'login', 'cram_md5'],@smtp['auth'])
    %br
    %label{:for=>'smtp[domain]'} domain
    %input{:name=>'smtp[domain]',:value=>@smtp['domain'],:size=>50}
    (for EHLO)

    %h3 Site Checking
    %label{:for=>'retries'} retries
    %input{:name=>'retries',:value=>@config.retries,:size=>3}
    %br
    %label{:for=>'sleep'} delay between retry
    %input{:name=>'sleep',:value=>@config.sleep,:size=>3} (seconds)

    %h3 Notification
    %label{:for=>'notify_from'} from address
    %input{:name=>'notify_from',:value=>@config.notify_from,:size=>50}
    
  %p
    %input{:type=>'submit'}
