html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  outline: none;  /* disable mozilla's dotted box around link */
  text-decoration: none;
}
a:hover {
}

input {
  outline: none;  /* disable mozilla's dotted box around link */
}
img {
  border: none;
}

#header {
  height: 60px;
  color: green;
  background: black;
  font-size: 16pt;  
}
#header p {
  margin-left: 10px;
  float:left;
}
#header img {
  float:right;
}
#header img.logo {
  float: left;
}

#header a {
  margin-right: 5px;
  float:right;
  color: #A6AAAB;
}

#bar {
	height:4px;
  background: gray;
}

#nav {
  font-size: 11pt;
  margin:0px 0px 0px 0px;
  padding:0px;
  font-weight: normal;
}
  
#nav a:link {
  color: #ffffff;
  text-decoration: none;
  }

#nav a:active {
  color: #ffffff;
  }

#nav a:visited {
  color: #ffffff;
  text-decoration: none;
  }
  
#nav a:hover {
  color: white;
  text-decoration: none;
  border-color: #70787F;
  }

ul#nav {float:right;display:block;margin-top:30px;list-style:none;}
ul#nav li {display:block;float:left;}
ul#nav li a {display:block;float:left;margin:0px;padding: 0 10px;}
ul#nav li a:hover {background: gray;}
ul#nav li a.active {background: white;color:#000000;}
ul#nav li.last a {margin-right:0;}

#contents {
  margin: 5;
}

label {
  display: block;
  float:left;
  text-align:right;
  margin-right:4px;
  width: 150px;
}

.site {
	display:block;
  margin-bottom: 10px;
}

.clear {
	clear:both;
}

.error {
  display: inline;
  color: #CC0033;
  background-color: #FFCCFF;
  margin: 10px;
  padding: 4px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #CC0033;
}

.result{
	display: block;
  margin-left: 20px;
  margin-top: 4px;
}

.down {
  display: inline;
  color: #CC0033;
  background-color: #FFCCFF;
  padding: 2px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #CC0033;
}

.up {
  display: inline;
  color: #00CC33;
  background-color: #CCFFFF;
  padding: 2px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #00CC33;
}